@model LABA_WebPortal_Corporate.Models.M_Home
@{
	var farmInfo = ViewBag.FarmInfo as LABA_WebPortal_Corporate.Models.M_Farm;
}
<section class="wrapper bg-light">
	<div class="container py-10">
		<div class="row text-center">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 overflow-hidden">
				<h2 class="fs-16 mb-3 px-3 badge bg-primary rounded-pill">Dịch vụ</h2>
				<h3 class="display-4 mb-10 px-xl-10">Trải nghiệm các dịch vụ tại @farmInfo.name</h3>
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
		<div class="position-relative">
			<div class="shape rounded-circle bg-soft-blue rellax w-16 h-16" data-rellax-speed="1" style="bottom: -0.5rem; right: -2rem; z-index: 0;"></div>
			<div class="shape bg-dot primary rellax w-16 h-17" data-rellax-speed="1" style="top: -0.5rem; left: -2.5rem; z-index: 0;"></div>
			<div class="row gx-md-5 gy-5 text-center">
				@if (Model.newCategoryObjs != null)
				{
					@foreach (var item in Model.newCategoryObjs)
					{
						<div class="col-md-6 col-xl-3">
							<div class="card shadow-lg">
								<div class="card-body p-4">
									<img src="@item.imageObj?.relativeUrl" class="svg-inject icon-svg icon-svg-lg text-yellow mb-3 rounded" style="object-fit: cover" alt="@item.name" />
									<h4>@item.name</h4>
									<p class="mb-2 text-truncate-3">@item.description</p>
									<a href="/dich-vu?c=@item.id" class="more hover link-primary">Xem thêm</a>
								</div>
								<!--/.card-body -->
							</div>
							<!--/.card -->
						</div>
						<!--/column -->
					}
				}
			</div>
			<!--/.row -->
		</div>
		<!-- /.position-relative -->
	</div>
	<!-- /.container -->
</section>
